  <Layouts.app flash={@flash} shell={:storefront}>
    <.student_shell current_student={@current_student} current_page={:simulated_patient}>
      <%= case @live_action do %>
        <% :evaluation -> %>
          {evaluation_view(assigns)}
        <% _ -> %>
          <div class="mx-auto grid w-full max-w-6xl items-start gap-6 px-4 py-6 sm:px-6 lg:grid-cols-5">
            {patient_panel(assigns)}
            {chat_panel(assigns)}
          </div>
      <% end %>
    </.student_shell>
  </Layouts.app>
